<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>로그인 페이지</title>
</head>
<body>
<h1>로그인 페이지</h1>
<form action="/login" method="POST">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}">
    <input type="text" name="username" placeholder="Username"><br/>
    <input type="password" name="password" placeholder="Password"><br/>
    <button>로그인</button>
</form>
<a href="/oauth2/authorization/google">Google 로그인</a>
<a href="/oauth2/authorization/naver">Naver 로그인</a>
<a href="/oauth2/authorization/kakao">Kakao 로그인 oAuth 라이브러리</a>
<a href="https://kauth.kakao.com/oauth/authorize?client_id=df14d13f783d392d0793bf1da3d27554&redirect_uri=http://localhost:8081/kakao/callback&response_type=code">Kakao 로그인 직접구현</a>
<a href="/joinForm">회원가입을 아직 하지 않으셨나요?</a>
</body>
</html>